
  input[type="text"]{
    width:100%;
    padding:10px;
    font-family:Segoe UI;
    border-radius:7px
    
  }
  
    input[type="email"]{
    width:100%;
    padding:10px;
    font-family:Segoe UI;
    border-radius:7px
    
  }
  
    input[type="number"]{
    width:100%;
    padding:10px;
    font-family:Segoe UI;
    border-radius:7px
  }
  
    input[type="checkbox"]{
    display:none;
    padding:20px;
    font-family:Segoe UI;
    border-radius:7px
  }
    input[type="checkbox"]{
    display:inline-block;
    width:19px;
    height:19px;
    margin:-2px 10px 0 0;
    vertical-align:middle
  }
    input[type="radio"]{
    display:none;
    padding:50px;
    margin-top:20px;
    font-family:Segoe UI;
    border-radius:7px
  }
  
   input[type="radio"]{
    display:inline-block;
    width:19px;
    height:19px;
    margin:-2px 10px 0 0;
    vertical-align:middle
  }
    textarea{
    width:100%;
    padding-bottom:60px;
    margin-top:10px;
    font-family:Segoe UI;
    border-radius:7px;
    font-size:18px;
  }
  body{
      background: linear-gradient(40deg, #ccffff, #ffcccc, #99ccff);
  }
  #main{
    background-color:#3F387B;
    
    font-family:Segoe UI;
    margin-left: 350px;
    margin-right:350px;
  }
  #survey-form{
    margin-left:35px;
    margin-right:55px;
    padding-top: 35px;
    padding-bottom: 35px;
  }
  
  h1{
    text-align:center;
    color:white;
    font-family:Arial;
  }
  
    p{
    text-align:center;
      font-family:Segoe UI;
      color:white;
      font-family:Arial;
  }
  #submit{
    background-color:#8AF592;
    font-family:Segoe UI;
    width:100%;
    padding:10px;
    border-radius:7px;
    font-size:20px;
    margin:none;
    color:white;
    cursor:pointer;
  }
  
  #recommend{
    color:white;
    text-align:left;
    font-family:Segoe UI;
    font-size: 20px;
 
  }

  #name-label{
    color:white;
    text-align:left;
    font-family:Segoe UI;
    font-size: 20px;
   
  }
  
  #email-label{
    color:white;
    text-align:left;
    font-family:Segoe UI;
    font-size: 20px;
  }
  
  #number-label {
    color:white;
    text-align:left;
    font-family:Segoe UI;
    font-size: 20px;
  }
  #dropdown{
    
    width:100%;
    padding:5px;
    font-family:Segoe UI;
    border-radius:7px
  }
  ::placeholder{
    font-family:Segoe UI;
    font-size:20px;
  }
  select{
    font-family:Segoe UI;
    font-size:20px;
  }
